<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <send_order_details>
            <general>
                <email>send_order_details_general_email</email>
                <recipients_emails><![CDATA[dipakp@logicrays.com]]></recipients_emails>
            </general>
        </send_order_details>
    </default>
</config>